.ImageGrid h2{
    text-align: center;
    margin: 10px;
    font-weight: 400;
}

.ImageCardContent{
    object-fit: cover;
}

.ImageCarousel{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, 200px);
    justify-content: center;
    padding: 1rem;
}

.ImageCard{
    width: 200px; height: 200px;
    perspective: 1000px;
}

.ImageCard:hover .MetricDisplay{
    opacity: 1;
}

.MetricDisplay{
    opacity: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
    transition: 0.2s all ease;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.MetricDisplay p{
    margin: 5px;
}

.ImageOptions button{
    cursor: pointer;
    margin: 10px;
}

.DownloadButton, .ChainButton{
    width: 15px; height: 15px;
    background: none; opacity: 0.4;
    transition: 0.2s ease all;
    
}

.DownloadButton:hover, .ChainButton:hover{
    opacity: 1;
}

@keyframes flipIn {
    0%{
        opacity: 0;
        transform: rotateY(90deg);
    }
    100%{
        opacity: 1;
        transform: rotateY(0deg);
    }
}